.card{
  width: 125px;
  height: 260px;
  margin: 10px;
  text-align: center;
  background: #208075;
  color: white;
  padding: 5px;
}

.szia-david{
  background-color: peachpuff;
}

.card:hover{
  opacity: 0.8;
  cursor: pointer;
}

img {
  width: 100px;
  height: 100px;
}

h4{
  margin: 0;
}
